In [139]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn import preprocessing
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error

from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.linear_model import LinearRegression as LR
from sklearn.linear_model import SGDRegressor as SGD

from sklearn.neighbors import NearestNeighbors

from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.preprocessing import Imputer

pd.set_option('display.max_colwidth', 100)
pd.set_option('display.precision', 5)

In [140]:
df_nei = pd.read_csv('../data/df_neighborhoods.csv')

In [141]:
df_nei.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26621 entries, 0 to 26620
Data columns (total 23 columns):
X             26621 non-null float64
Y             26621 non-null float64
apa           26610 non-null object
bathrooms     25221 non-null float64
bedrooms      26610 non-null float64
cats_OK       26621 non-null int64
date_time     26621 non-null object
dogs_OK       26621 non-null int64
furnished     26621 non-null int64
latitude      26621 non-null float64
laundry       19599 non-null object
longitude     26621 non-null float64
neighborho    26377 non-null object
no smoking    26621 non-null int64
parking       16221 non-null object
post_id       26621 non-null float64
rent          26621 non-null float64
sq_ft         12765 non-null float64
url           26621 non-null object
wheelchair    26621 non-null int64
name          26621 non-null object
LINK          23487 non-null object
neighbor_2    26621 non-null object
dtypes: float64(9), int64(5), object(9)
memory usage: 4.9+ MB

In [142]:
df_nei = df_nei.drop(['X', 'Y', 'url', 'post_id', 'LINK'], axis = 1)
df_nei = df_nei.rename(columns = {'neighbor_2' : 'N_1', 'name' : 'N_2', 'neighborho' : 'N_user'})

In [143]:
for N in ['N_1', 'N_2']:
    df_nei[N] = df_nei[N].str.lower()

In [144]:
df_no_nei = pd.read_csv('../data/df_no_neighborhoods.csv')

In [145]:
df_no_nei.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2995 entries, 0 to 2994
Data columns (total 18 columns):
rent                     2995 non-null float64
sq_ft                    1528 non-null float64
bedrooms                 2993 non-null float64
bathrooms                2837 non-null float64
neighborhood             2961 non-null object
latitude                 2672 non-null float64
longitude                2672 non-null float64
wheelchair accessible    2995 non-null int64
no smoking               2995 non-null int64
furnished                2995 non-null int64
cats_OK                  2995 non-null int64
dogs_OK                  2995 non-null int64
url                      2995 non-null object
post_id                  2995 non-null int64
date_time                2995 non-null object
apa                      2993 non-null object
laundry                  2266 non-null object
parking                  1873 non-null object
dtypes: float64(6), int64(6), object(6)
memory usage: 444.6+ KB

In [146]:
df_no_nei = df_no_nei.drop(['url', 'post_id'], axis = 1)
df_no_nei = df_no_nei[df_no_nei.latitude.notnull()].reset_index(drop = True)
df_no_nei = df_no_nei.rename(columns = {'neighborhood' : 'N_user'})

In [147]:
%%time
np = df_nei[['latitude', 'longitude', 'N_2']]
X = np.iloc[:,:2].values
y = df_nei.N_2
le = preprocessing.LabelEncoder()
y = le.fit_transform(y)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state = 1)
est = RF(n_estimators= 5)
est.fit(X_train, y_train)
y_pred = est.predict(X_test)
score = y_pred - y_test == 0
print 'precent inaccurate: ', float(len(score) - sum(score)) / len(score)

precent inaccurate:  0.0174647887324
CPU times: user 190 ms, sys: 140 ms, total: 330 ms
Wall time: 331 ms

In [148]:
def imputeNeighborhoods(df_nei, df_no_nei, neighborhood, estimators = 5):
    X_train = df_nei[['latitude', 'longitude']].values
    y_train = df_nei[neighborhood]
    X_test = df_no_nei[['latitude', 'longitude']].values
    est = RF(n_estimators= estimators)
    est.fit(X_train, y_train)
    y_pred = est.predict(X_test)
    df_no_nei[neighborhood] = y_pred
    return df_no_nei

In [149]:
for N in ['N_1', 'N_2']:
    imputeNeighborhoods(df_nei, df_no_nei, N)

### Filter out non-SF listings by distance

In [150]:
def filterDistance(df_with_Ns, df_new, neighbors = 10, distance = .01):
    X = df_with_Ns[['latitude', 'longitude']].values
    X_new = df_new[['latitude', 'longitude']].values
    nbrs = NearestNeighbors(n_neighbors=10, algorithm='ball_tree').fit(X)
    distances, indices = nbrs.kneighbors(X_new)
    df_new['distances'] = pd.DataFrame(distances).mean(axis = 1)
    df_new = df_new[df_new['distances'] < .05].sort(columns = 'distances', ascending = False)
    return df_new

In [151]:
df_no_nei = filterDistance(df_nei, df_no_nei)

In [152]:
# check distances

In [153]:
# temporary - add to function once the right distance is established
df_no_nei = df_no_nei.drop('distances', axis = 1)

In [154]:
df = pd.concat([df_nei, df_no_nei], axis = 0)

In [155]:
df = df[df.rent < 10000]
print len(df)
df = df[df.rent > 1000]
print len(df)
df = df[(df.sq_ft < 5000) & ((df.sq_ft != 0)) | (df.sq_ft.isnull())]
print len(df)
df = df.reset_index(drop = True)

28665
28452
28444

In [156]:
N_us = df.N_user.value_counts()
N_user_label = N_us[N_us > (N_us.sum() / 1100)].index

In [157]:
N_user_unlabel = set(df.N_user.unique()) - set(N_user_label)

In [158]:
isNullIndex = df[df.N_user.isnull()].index
df.ix[isNullIndex, 'N_user'] = 'nan'

In [159]:
df[df.N_user.isnull()].N_user.astype

In [160]:
label_d = dict(zip(N_user_label,range(len(N_user_label))))

In [161]:
import numpy as np
unlabel_d = dict(zip(N_user_unlabel, np.zeros(len(N_user_unlabel), dtype = int)))

In [162]:
label_d.update(unlabel_d)

In [163]:
df = df.replace({"N_user": label_d})

### Filter out perfect scores / repeats

In [164]:
df['list_count'] = 1

In [165]:
cols = df.columns[:-1].tolist()

In [180]:
df_uniq = df.groupby(cols).sum().reset_index().sort(columns = 'date_time')

In [167]:
im = Imputer(strategy='median', copy = False)
im.fit_transform(df_uniq.sq_ft)

array([[ 1600.,  4490.,  1086., ...,   605.,   911.,  4490.]])

In [181]:
df_uniq

,N_1,N_2,N_user,apa,bathrooms,bedrooms,cats_OK,date_time,dogs_OK,furnished,latitude,laundry,longitude,no smoking,parking,rent,sq_ft,wheelchair,wheelchair accessible,list_count
25831,western addition,lower pacific heights,21,apartment,2.0,3,0,2014-12-03 00:00:00,0,0,37.7856,laundry in bldg,-122.4358,1,valet parking,5795,1600,0,1,1
16685,pacific heights,pacific heights,3,apartment,2.0,2,0,2014-12-04 00:00:00,0,0,37.7942,laundry in bldg,-122.4344,1,street parking,6100,4490,0,1,1
1853,chinatown,financial district,2,condo,1.5,1,0,2014-12-05 00:00:00,0,0,37.7926,laundry in bldg,-122.4044,1,attached garage,4795,1086,1,1,1
22591,south of market,south of market,0,apartment,1.0,1,1,2014-12-05 00:00:00,0,0,37.7789,laundry on site,-122.4072,1,valet parking,2495,4490,0,1,1
12599,nob hill,nob hill,11,condo,1.0,0,1,2014-12-05 00:00:00,1,0,37.7917,laundry in bldg,-122.4186,1,attached garage,3200,4490,1,1,1
4055,downtown/civic center,tenderloin,6,apartment,1.0,1,1,2014-12-05 00:00:00,1,0,37.7859,laundry in bldg,-122.4196,1,street parking,2495,4490,0,1,1
17453,parkside,parkside,8,apartment,1.0,2,1,2014-12-05 00:00:00,0,0,37.7441,laundry in bldg,-122.4863,1,attached garage,2700,4490,0,1,1
4056,downtown/civic center,tenderloin,6,apartment,1.0,1,1,2014-12-05 00:00:00,1,0,37.7859,wd in unit,-122.4196,1,street parking,2795,4490,0,1,1
9697,mission,mission,1,apartment,1.0,0,0,2014-12-05 00:00:00,0,0,37.7656,wd in unit,-122.4210,1,valet parking,1950,4490,0,1,1
8296,marina,cow hollow,5,apartment,2.0,2,1,2014-12-05 00:00:00,1,0,37.7989,wd in unit,-122.4460,1,attached garage,5995,4490,0,1,1
24113,visitacion valley,visitacion valley,35,house,1.0,3,0,2014-12-06 00:00:00,0,0,37.7150,wd in unit,-122.4055,1,attached garage,3000,4490,0,1,1
10201,mission,mission,1,apartment,1.0,4,0,2014-12-06 00:00:00,0,0,37.7509,wd in unit,-122.4153,1,street parking,5600,4490,0,1,1
9335,mission,dolores heights,1,apartment,2.0,2,1,2014-12-06 00:00:00,1,1,37.7585,wd in unit,-122.4217,1,valet parking,5950,4490,0,1,1
11785,nob hill,nob hill,2,apartment,1.0,1,1,2014-12-07 00:00:00,0,0,37.7909,laundry on site,-122.4106,1,detached garage,3150,550,1,1,1
11786,nob hill,nob hill,2,apartment,1.0,1,1,2014-12-07 00:00:00,0,0,37.7909,laundry on site,-122.4106,1,detached garage,3400,675,1,1,1
4058,downtown/civic center,tenderloin,6,apartment,1.0,1,1,2014-12-07 00:00:00,1,0,37.7859,wd in unit,-122.4196,1,street parking,2795,4490,0,1,1
11443,nob hill,nob hill,2,apartment,5.0,1,0,2014-12-07 00:00:00,0,0,37.7909,laundry in bldg,-122.4106,0,valet parking,3400,675,0,1,1
4057,downtown/civic center,tenderloin,6,apartment,1.0,1,1,2014-12-07 00:00:00,1,0,37.7859,laundry in bldg,-122.4196,1,street parking,2495,4490,0,1,1
5987,haight ashbury,ashbury heights,28,flat,2.0,3,0,2014-12-07 00:00:00,0,1,37.7616,wd in unit,-122.4491,1,attached garage,6200,1600,0,1,1
8530,marina,marina,5,apartment,1.0,1,0,2014-12-08 00:00:00,0,0,37.8033,laundry in bldg,-122.4400,0,attached garage,3150,900,0,1,1
14577,outer mission,outer mission,15,apartment,1.0,1,1,2014-12-08 00:00:00,0,0,37.7119,laundry in bldg,-122.4457,1,attached garage,2500,600,0,1,1
14227,ocean view,merced heights,0,house,2.0,4,0,2014-12-08 00:00:00,0,0,37.7142,wd in unit,-122.4644,1,attached garage,5000,1431,0,1,1
14121,ocean view,ingleside,15,apartment,2.5,3,1,2014-12-08 00:00:00,1,0,37.7235,wd in unit,-122.4543,1,attached garage,6195,4490,0,1,1
7784,lakeshore,lakeshore,8,apartment,2.0,2,0,2014-12-08 00:00:00,0,0,37.7147,laundry in bldg,-122.4934,0,attached garage,2899,1115,0,1,1
2556,downtown/civic center,civic center,13,apartment,2.0,3,0,2014-12-08 00:00:00,0,0,37.7765,wd in unit,-122.4224,0,attached garage,8000,4490,0,1,1
7770,lakeshore,lakeshore,8,apartment,1.0,0,0,2014-12-08 00:00:00,0,0,37.7147,laundry in bldg,-122.4934,0,attached garage,1889,510,0,1,1
10999,mission,mission dolores,1,apartment,1.0,2,1,2014-12-08 00:00:00,1,0,37.7648,wd in unit,-122.4228,1,street parking,4795,4490,0,1,1
16179,pacific heights,pacific heights,3,apartment,1.0,1,0,2014-12-08 00:00:00,0,0,37.7947,laundry in bldg,-122.4314,0,attached garage,4900,1050,0,1,1
2141,downtown/civic center,cathedral hill,4,condo,1.0,1,0,2014-12-09 00:00:00,0,0,37.7812,laundry in bldg,-122.4212,0,carport,3000,4490,1,1,1
18290,potrero hill,potrero hill,10,apartment,2.0,2,0,2014-12-09 00:00:00,0,0,37.7634,wd in unit,-122.3947,0,valet parking,4995,4490,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14684,outer mission,sunnyside,27,house,1.0,2,0,2015-04-18 00:00:00,0,0,37.7323,wd in unit,-122.4512,1,valet parking,3500,4490,1,0,1
17194,pacific heights,pacific heights,3,townhouse,5.0,1,0,2015-04-18 00:00:00,0,0,37.7890,wd hookups,-122.4367,1,off-street parking,4250,1350,1,0,1
627,bernal heights,st. marys park,24,apartment,2.0,2,1,2015-04-18 00:00:00,1,0,37.7332,laundry in bldg,-122.4311,1,street parking,3800,4490,1,0,1
4567,excelsior,crocker amazon,0,apartment,2.0,2,1,2015-04-18 00:00:00,1,0,37.6875,wd in unit,-122.4388,1,detached garage,3489,1321,1,0,1
4566,excelsior,crocker amazon,0,apartment,2.0,2,1,2015-04-18 00:00:00,1,0,37.6875,wd in unit,-122.4388,1,detached garage,3168,1035,1,0,1
14725,outer richmond,lake street,14,apartment,1.0,1,0,2015-04-18 00:00:00,0,0,37.7860,wd in unit,-122.4787,0,valet parking,2950,4490,1,0,1
20241,south of market,mission bay,0,apartment,1.0,2,1,2015-04-18 00:00:00,1,0,37.7724,wd in unit,-122.3970,0,detached garage,4599,940,1,0,1
5211,financial district,northern waterfront,16,apartment,1.0,1,0,2015-04-18 00:00:00,0,0,37.7961,laundry in bldg,-122.4003,1,detached garage,3537,4490,1,0,1
6602,inner richmond,inner richmond,0,apartment,1.0,2,0,2015-04-18 00:00:00,0,0,37.7812,wd in unit,-122.4614,1,street parking,4345,750,1,0,1
7560,inner sunset,inner sunset,17,apartment,1.0,1,0,2015-04-18 00:00:00,0,0,37.7604,laundry in bldg,-122.4639,1,valet parking,2150,600,1,0,1
25149,western addition,lower haight,13,apartment,5.0,0,1,2015-04-18 00:00:00,0,0,37.7739,wd in unit,-122.4241,0,valet parking,2700,500,1,0,1
22782,south of market,south of market,0,apartment,1.0,1,1,2015-04-18 00:00:00,1,0,37.7836,laundry in bldg,-122.3971,1,off-street parking,3115,645,1,0,1
22781,south of market,south of market,0,apartment,1.0,1,1,2015-04-18 00:00:00,1,0,37.7803,wd in unit,-122.4034,1,valet parking,3707,4490,1,1,1
4564,excelsior,crocker amazon,0,apartment,1.0,1,1,2015-04-18 00:00:00,1,0,37.6875,wd in unit,-122.4388,1,detached garage,3221,1155,1,0,1
22780,south of market,south of market,0,apartment,1.0,1,1,2015-04-18 00:00:00,1,0,37.7776,laundry in bldg,-122.3975,1,valet parking,2940,656,1,1,1
17109,pacific heights,pacific heights,3,condo,2.5,3,1,2015-04-18 00:00:00,1,0,37.7908,wd in unit,-122.4410,1,attached garage,8700,1956,1,0,1
22779,south of market,south of market,0,apartment,1.0,1,1,2015-04-18 00:00:00,1,0,37.7776,laundry in bldg,-122.3975,1,valet parking,2902,656,1,1,1
4563,excelsior,crocker amazon,0,apartment,1.0,1,1,2015-04-18 00:00:00,1,0,37.6875,wd in unit,-122.4388,1,detached garage,2520,823,1,0,1
25143,western addition,laurel heights / jordan park,25,cottagecabin,2.0,1,0,2015-04-18 00:00:00,0,0,37.7840,wd in unit,-122.4462,0,carport,3850,850,1,0,1
26104,western addition,western addition,21,apartment,1.0,0,1,2015-04-18 00:00:00,1,0,37.7778,wd in unit,-122.4384,0,detached garage,1550,535,1,0,1
13527,noe valley,noe valley,12,house,1.5,2,1,2015-04-18 00:00:00,1,0,37.7430,laundry in bldg,-122.4243,1,attached garage,4300,1540,1,0,1
1714,castro/upper market,mission dolores,7,apartment,2.0,2,1,2015-04-18 00:00:00,1,0,37.7662,wd in unit,-122.4306,1,off-street parking,5865,945,1,1,1
1044,castro/upper market,eureka valley,1,flat,1.0,1,0,2015-04-18 00:00:00,0,1,37.7587,wd in unit,-122.4330,0,valet parking,3590,1000,1,0,1
17072,pacific heights,pacific heights,3,condo,2.0,1,0,2015-04-18 00:00:00,0,0,37.7943,wd in unit,-122.4343,0,attached garage,4950,1500,1,0,1
21274,south of market,rincon hill,0,condo,1.0,1,0,2015-04-18 00:00:00,0,1,37.7861,wd in unit,-122.3929,1,valet parking,3500,605,1,1,3
12262,nob hill,nob hill,2,apartment,2.0,2,1,2015-04-18 00:00:00,1,0,37.7932,wd in unit,-122.4145,0,valet parking,6000,4490,1,0,2
6977,inner richmond,inner richmond,20,flat,1.0,2,0,2015-04-18 00:00:00,0,0,37.7833,laundry in bldg,-122.4612,0,street parking,3500,4490,1,0,1
21273,south of market,rincon hill,0,condo,1.0,1,0,2015-04-18 00:00:00,0,1,37.7861,wd in unit,-122.3929,0,valet parking,3500,605,1,1,1
20280,south of market,mission bay,0,apartment,1.5,1,1,2015-04-18 00:00:00,1,0,37.7721,wd in unit,-122.3915,1,attached garage,3704,911,1,1,1
3496,downtown/civic center,lower nob hill,6,apartment,1.0,1,1,2015-04-18 00:00:00,0,0,37.7885,laundry in bldg,-122.4145,0,valet parking,2895,4490,1,0,1

In [168]:
for col in df_uniq:
    if df_uniq[col].dtype == object:
        df_uniq[col] = le.fit_transform(df_uniq[col])

In [169]:
X_cols = df_uniq.drop('rent', axis = 1)
X = X_cols.values

In [170]:
y = df_uniq.rent

In [171]:
X_train = X[0:len(X)/2]
y_train = y[0:len(X)/2]
X_test = X[-len(X)/4:]
y_test = y[-len(X)/4:]

In [172]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2)

In [173]:
%%time
est = RF(n_estimators = 20, n_jobs= -1)
est.fit(X_train, y_train)
y_pred = est.predict(X_test)

CPU times: user 8.82 s, sys: 4.64 s, total: 13.5 s
Wall time: 7.19 s

In [174]:
mean_absolute_error(y_pred, y_test)

641.43904660695307

In [175]:
perfect_scores = y_pred == y_test

In [176]:
sum(perfect_scores) / float(len(perfect_scores))

0.086382268103840892

In [117]:
sorted(zip(est.feature_importances_, X_cols.columns))[::-1]

[(0.21861716473085541, 'date_time'),
 (0.12791645832251311, 'longitude'),
 (0.12684508657941856, 'latitude'),
 (0.081831593171715705, 'sq_ft'),
 (0.068492493218115666, 'N_2'),
 (0.059492841832742005, 'N_user'),
 (0.052163818356316408, 'N_1'),
 (0.047043409039529867, 'parking'),
 (0.032122592290381544, 'bedrooms'),
 (0.0317648830359454, 'laundry'),
 (0.029396623323743765, 'no smoking'),
 (0.02582423647463248, 'apa'),
 (0.024581478830143111, 'bathrooms'),
 (0.019610311110495944, 'list_count'),
 (0.015788146476121194, 'cats_OK'),
 (0.014968889992675673, 'dogs_OK'),
 (0.012584797714233206, 'furnished'),
 (0.010955175500420966, 'wheelchair'),
 (0.0, 'wheelchair accessible')]

In [120]:
X_cols

,N_1,N_2,N_user,apa,bathrooms,bedrooms,cats_OK,date_time,dogs_OK,furnished,latitude,laundry,longitude,no smoking,parking,sq_ft,wheelchair,wheelchair accessible,list_count
25830,36,55,21,0,2.0,3,0,0,0,0,37.7856,0,-122.4358,1,5,1600,0,1,1
16681,24,77,3,0,2.0,2,0,1,0,0,37.7942,0,-122.4344,1,4,4490,0,1,1
1855,3,30,2,1,1.5,1,0,2,0,0,37.7926,0,-122.4044,1,0,1086,1,1,1
17448,25,80,8,0,1.0,2,1,2,0,0,37.7441,0,-122.4863,1,0,4490,0,1,1
4065,6,105,6,0,1.0,1,1,2,1,0,37.7859,3,-122.4196,1,4,4490,0,1,1
12598,17,69,11,1,1.0,0,1,2,1,0,37.7917,0,-122.4186,1,0,4490,1,1,1
22587,31,97,0,0,1.0,1,1,2,0,0,37.7789,1,-122.4072,1,5,4490,0,1,1
4064,6,105,6,0,1.0,1,1,2,1,0,37.7859,0,-122.4196,1,4,4490,0,1,1
9697,16,63,1,0,1.0,0,0,2,0,0,37.7656,3,-122.4210,1,5,4490,0,1,1
8295,15,20,5,0,2.0,2,1,2,1,0,37.7989,3,-122.4460,1,0,4490,0,1,1
10201,16,63,1,0,1.0,4,0,3,0,0,37.7509,3,-122.4153,1,4,4490,0,1,1
24108,34,110,35,5,1.0,3,0,3,0,0,37.7150,3,-122.4055,1,0,4490,0,1,1
9335,16,24,1,0,2.0,2,1,3,1,1,37.7585,3,-122.4217,1,5,4490,0,1,1
5985,11,4,28,4,2.0,3,0,4,0,1,37.7616,3,-122.4491,1,0,1600,0,1,1
11784,17,69,2,0,1.0,1,1,4,0,0,37.7909,1,-122.4106,1,2,550,1,1,1
4067,6,105,6,0,1.0,1,1,4,1,0,37.7859,3,-122.4196,1,4,4490,0,1,1
11785,17,69,2,0,1.0,1,1,4,0,0,37.7909,1,-122.4106,1,2,675,1,1,1
4066,6,105,6,0,1.0,1,1,4,1,0,37.7859,0,-122.4196,1,4,4490,0,1,1
11442,17,69,2,0,5.0,1,0,4,0,0,37.7909,0,-122.4106,0,5,675,0,1,1
10999,16,65,1,0,1.0,2,1,5,1,0,37.7648,3,-122.4228,1,4,4490,0,1,1
2562,6,16,13,0,2.0,3,0,5,0,0,37.7765,3,-122.4224,0,0,4490,0,1,1
14225,20,58,0,5,2.0,4,0,5,0,0,37.7142,3,-122.4644,1,0,1431,0,1,1
7784,14,49,8,0,2.0,2,0,5,0,0,37.7147,0,-122.4934,0,0,1115,0,1,1
8528,15,56,5,0,1.0,1,0,5,0,0,37.8033,0,-122.4400,0,0,900,0,1,1
14119,20,42,15,0,2.5,3,1,5,1,0,37.7235,3,-122.4543,1,0,4490,0,1,1
14575,21,74,15,0,1.0,1,1,5,0,0,37.7119,0,-122.4457,1,0,600,0,1,1
7770,14,49,8,0,1.0,0,0,5,0,0,37.7147,0,-122.4934,0,0,510,0,1,1
16175,24,77,3,0,1.0,1,0,5,0,0,37.7947,0,-122.4314,0,0,1050,0,1,1
8529,15,56,5,0,1.0,1,0,6,0,0,37.8018,3,-122.4449,0,5,4490,0,1,1
7771,14,49,8,0,1.0,0,0,6,0,0,37.7147,0,-122.4934,0,0,510,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17105,24,77,3,1,2.5,3,1,136,1,0,37.7908,3,-122.4410,1,0,1956,1,0,1
19485,29,91,9,1,1.0,2,0,136,0,0,37.8023,3,-122.4247,1,5,1063,1,0,1
21335,31,90,0,1,1.0,1,1,136,1,0,37.7872,3,-122.3943,1,0,4490,1,1,1
11661,17,69,2,0,1.0,0,1,136,0,0,37.7909,0,-122.4106,1,0,405,1,1,1
11662,17,69,2,0,1.0,0,1,136,0,0,37.7909,0,-122.4106,1,0,405,1,1,1
14566,21,73,15,5,1.5,2,0,136,0,0,37.7170,3,-122.4520,0,5,4490,1,0,1
11663,17,69,2,0,1.0,0,1,136,0,0,37.7909,0,-122.4106,1,0,405,1,1,1
12789,17,83,6,0,1.0,2,0,136,0,0,37.7953,0,-122.4198,0,5,4490,1,0,1
11664,17,69,2,0,1.0,0,1,136,0,0,37.7909,0,-122.4106,1,0,405,1,1,1
5212,8,72,16,0,1.0,1,0,136,0,0,37.7961,0,-122.4003,1,2,4490,1,0,1
22307,31,97,0,0,1.0,0,1,136,1,0,37.7803,3,-122.4034,1,5,560,1,1,1
11665,17,69,2,0,1.0,0,1,136,0,0,37.7909,0,-122.4106,1,0,520,1,1,1
5062,8,30,16,0,2.0,2,0,136,0,0,37.7912,3,-122.3958,1,5,4490,1,1,1
4941,8,30,0,1,2.0,2,1,136,1,0,37.7912,3,-122.3958,1,5,4490,1,0,1
11666,17,69,2,0,1.0,0,1,136,0,0,37.7909,0,-122.4106,1,0,405,1,1,1
22308,31,97,0,0,1.0,0,1,136,1,1,37.7725,3,-122.4147,1,5,533,1,1,1
24275,35,93,32,0,1.0,1,0,136,0,0,37.7354,3,-122.4571,1,5,4490,1,0,1
11667,17,69,2,0,1.0,0,1,136,0,0,37.7909,0,-122.4106,1,0,520,1,1,1
3267,6,54,6,0,1.0,0,1,136,0,0,37.7880,0,-122.4134,1,5,219,1,0,1
3268,6,54,6,0,1.0,0,1,136,0,0,37.7880,0,-122.4134,1,5,4490,1,0,1
12773,17,83,3,1,1.5,2,1,136,1,0,37.7904,3,-122.4223,0,0,4490,1,1,1
26052,36,112,3,0,1.0,1,0,136,0,1,37.7816,0,-122.4306,1,0,4490,1,0,1
20467,31,64,0,0,2.0,2,1,136,1,0,37.7694,3,-122.3867,1,5,1095,1,1,1
1019,2,26,7,9,1.0,1,0,136,0,0,37.7693,3,-122.4314,0,0,713,1,0,1
928,2,24,7,4,1.0,2,1,136,1,0,37.7603,3,-122.4320,0,0,1400,1,0,1
1988,4,21,0,0,1.0,1,1,136,1,0,37.6875,3,-122.4388,1,2,823,1,0,1
16592,24,77,3,0,1.0,2,0,136,0,0,37.7936,0,-122.4331,0,0,4490,1,0,1
1986,3,91,19,0,1.0,2,0,136,0,0,37.7967,3,-122.4084,0,4,220,1,0,1
17499,25,80,8,5,1.0,1,0,136,0,0,37.7441,1,-122.4863,0,4,4490,1,0,1
7560,13,45,17,0,1.0,1,0,136,0,0,37.7604,0,-122.4639,1,5,600,1,0,1